
<div class="card">
  <div class="card-header">
    High Definition Monitors
  </div>
  <table class="table table-responsive table-hover">
      <thead>
        <tr>
          <th>Brand</th>
          <th>Dell</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Model</th>
          <td>UltraSharp 32 Ultra HD 8K Monitor (UP3218K)</td>
        </tr>
        <tr>
          <th>Image</th>
          <td></td>
        </tr>
        <tr>
          <th>Link for more info</th>
          <td></td>
        </tr>
        <tr>
          <th>Street price</th>
          <td>USD 3900</td>
        </tr>
        <tr>
          <th>Diagonal size</th>
          <td>31.5"</td>
        </tr>
        <tr>
          <th>Native Resolution</th>
          <td>7680 x 4320</td>
        </tr>
        <tr>
          <th>Contrast</th>
          <td>1300:1</td>
        </tr>
        <tr>
          <th>Response</th>
          <td>6 ms (gray-to-gray)</td>
        </tr>
        <tr>
          <th>Viewing angle</th>
          <td>178</td>
        </tr>
        <tr>
          <th>Brightness</th>
          <td>400 cd/m²</td>
        </tr>
        <tr>
          <th>Color</th>
          <td>1.07 billion</td>
        </tr>
        <tr>
          <th>Pixel Pitch</th>
          <td></td>
        </tr>
        <tr>
          <th>I/O Ports</th>
          <td>
            USB 3.0 hub (USB 3.0 downstream (Type A)USB 3.0 downstream (Type A (power only))USB 3.0 upstream (Type B)Audio line-out )
          </td>
        </tr>
        <tr>
          <th>Card reader</th>
          <td></td>
        </tr>
        <tr>
          <th>Position adjustments</th>
          <td>Height 4.7 in, pivot (rotation) 90, swivel 60, tilt -5/+21, wall mount mount 100 x 100 mm</td>
        </tr>
        <tr>
          <th>Look-up table</th>
          <td></td>
        </tr>
        <tr>
          <th>Dual view mode</th>
          <td></td>
        </tr>
        <tr>
          <th>Video ports</th>
          <td>2 x DisplayPort</td>
        </tr>
        <tr>
          <th>Dimentions</th>
          <td>With stand - width: 28.4 in - depth: 8.5 in - height: 24.3 in, Without stand - width: 28.4 in - depth: 2.1 in - height: 16.6 inIPS</td>
        </tr>
        <tr>
          <th>Release date</th>
          <td></td>
        </tr>
        <tr>
          <th>Affiliate link</th>
          <td></td>
        </tr>
        <tr>
          <th>Review Links</th>
          <td></td>
        </tr>
        <tr>
          <th>Panel type</th>
          <td>IPS</td>
        </tr>
        <tr>
          <th>Aspect ratio</th>
          <td>Widescreen - 16:9</td>
        </tr>
        <tr>
          <th>Refresh rate</th>
          <td>60 Hz</td>
        </tr>
        <tr>
          <th>Screen coating</th>
          <td>Anti-reflective, 2H Hard Coating</td>
        </tr>
        <tr>
          <th>Features</th>
          <td>100% Adobe RGB color gamut, 100% sRGB color gamut, 98% DCI-P3, 100% Rec 709 color gamut, Security lock slot, anti-theft protection</td>
        </tr>
        <tr>
          <th>Power</th>
          <td>87 Watt, AC 120/230 V (50/60 Hz)</td>
        </tr>
        <tr>
          <th>Warranty</th>
          <td>3-Years Advanced Exchange Service and Premium Panel Guarantee</td>
        </tr>
        <tr>
          <th>Manufacturer part</th>
          <td>095P9, Dell part 210-ALEZ</td>
        </tr>
  </table>
</div>
