<table class="table table-responsive table-hover" *ngIf="monitors && monitors.length">
    <thead>
      <tr>
        <th>Brand</th>
        <th *ngFor="let monitor of monitors">{{ monitor.brand }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Model</th>
        <td *ngFor="let monitor of monitors">{{ monitor.model }}</td>
      </tr>
      <tr>
        <th>Image</th>
        <td *ngFor="let monitor of monitors">{{ monitor.image }}</td>
      </tr>
      <tr>
        <th>Link for more info</th>
        <td *ngFor="let monitor of monitors">{{ monitor.info-link }}</td>
      </tr>
      <tr>
        <th>Street price</th>
        <td *ngFor="let monitor of monitors">{{ monitor.street-price }}</td>
      </tr>
      <tr>
        <th>Diagonal size</th>
        <td *ngFor="let monitor of monitors">{{ monitor.diagonal }}</td>
      </tr>
      <tr>
        <th>Native Resolution</th>
        <td *ngFor="let monitor of monitors">{{ monitor.resolution }}</td>
      </tr>
      <tr>
        <th>Contrast</th>
        <td *ngFor="let monitor of monitors">{{ monitor.contrast }}</td>
      </tr>
      <tr>
        <th>Response</th>
        <td *ngFor="let monitor of monitors">{{ monitor.response }}</td>
      </tr>
      <tr>
        <th>Viewing angle</th>
        <td *ngFor="let monitor of monitors">{{ monitor.viewing-angle }}</td>
      </tr>
      <tr>
        <th>Brightness</th>
        <td *ngFor="let monitor of monitors">{{ monitor.brightness }}cd/m²</td>
      </tr>
      <tr>
        <th>Color</th>
        <td *ngFor="let monitor of monitors">{{ monitor.color }}</td>
      </tr>
      <tr>
        <th>Pixel Pitch</th>
        <td *ngFor="let monitor of monitors">{{ monitor.pixel-pitch }}</td>
      </tr>
      <tr>
        <th>I/O Ports</th>
        <td *ngFor="let monitor of monitors">{{ monitor.io-ports }}</td>
      </tr>
      <tr>
        <th>Card reader</th>
        <td *ngFor="let monitor of monitors">{{ monitor.card-reader }}</td>
      </tr>
      <tr>
        <th>Position adjustments</th>
        <td *ngFor="let monitor of monitors">{{ monitor.position-adjustment }}</td>
      </tr>
      <tr>
        <th>Look-up table</th>
        <td *ngFor="let monitor of monitors">{{ monitor.look-up-table }}</td>
      </tr>
      <tr>
        <th>Dual view mode</th>
        <td *ngFor="let monitor of monitors">{{ monitor.dual-view-mode }}</td>
      </tr>
      <tr>
        <th>Video ports</th>
        <td *ngFor="let monitor of monitors">{{ monitor.video-ports }}</td>
      </tr>
      <tr>
        <th>Dimentions</th>
        <td *ngFor="let monitor of monitors">{{ monitor.dimentions }}</td>
      </tr>
      <tr>
        <th>Release date</th>
        <td *ngFor="let monitor of monitors">{{ monitor.release-date }}</td>
      </tr>
      <tr>
        <th>Affiliate link</th>
        <td *ngFor="let monitor of monitors">{{ monitor.affiliate-link }}</td>
      </tr>
      <tr>
        <th>Review Links</th>
        <td *ngFor="let monitor of monitors">{{ monitor.review-links }}</td>
      </tr>
      <tr>
        <th>Panel type</th>
        <td *ngFor="let monitor of monitors">{{ monitor.panel-type }}</td>
      </tr>
      <tr>
        <th>Aspect ratio</th>
        <td *ngFor="let monitor of monitors">{{ monitor.aspect-ratio }}</td>
      </tr>
      <tr>
        <th>Refresh rate</th>
        <td *ngFor="let monitor of monitors">{{ monitor.refresh-rate }}</td>
      </tr>
      <tr>
        <th>Screen coating</th>
        <td *ngFor="let monitor of monitors">{{ monitor.screen-coating }}</td>
      </tr>
      <tr>
        <th>Features</th>
        <td *ngFor="let monitor of monitors">{{ monitor.features }}</td>
      </tr>
      <tr>
        <th>Power</th>
        <td *ngFor="let monitor of monitors">{{ monitor.power }}</td>
      </tr>
      <tr>
        <th>Warranty</th>
        <td *ngFor="let monitor of monitors">{{ monitor.warranty }}</td>
      </tr>
      <tr>
        <th>Manufacturer part</th>
        <td *ngFor="let monitor of monitors">{{ monitor.manufacturer-part }}</td>
      </tr>
</table>
